<div class="skip-link-wrapper">
  <a class="skip-link" href="#main-content">본문 바로가기</a>
</div>
<header class="site-header">
  <div class="navbar">
    <a class="brand" href="index.html" data-root-href="index.html">
      <img
        class="brand-logo"
        src="assets/img/logo/joko-logo.svg"
        data-root-src="assets/img/logo/joko-logo.svg"
        alt="조코의 장-나물-밥 로고"
        width="48"
        height="48"
      />
      <span class="brand-text">조코의 장-나물-밥</span>
    </a>
    <nav class="nav" aria-label="주요 페이지">
      <ul class="nav-links">
        <li><a href="index.html" data-root-href="index.html">홈</a></li>
        <li><a href="recipes/index.html" data-root-href="recipes/index.html">레시피</a></li>
        <li><a href="guides/vegan-halal.html" data-root-href="guides/vegan-halal.html">가이드</a></li>
        <li><a href="about.html" data-root-href="about.html">소개</a></li>
      </ul>
    </nav>
  </div>
</header>
